{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>段位获得者</h1>
  </div>
</div>
<div class="container">
  <p>
  黑客精神不仅仅是在大学课程中获得满意的成绩。
  真正的黑客永远不会满足于现有的知识水平。
  他们努力追求，或被不可抗拒地驱动着去实现对技术主题的绝对掌握。
  </p>

  <p>
  以下是真正黑客的名单：那些凝视着黄色方框，而不是退缩，而是勇敢投入的人。
  </p>

  {% for belt_color in ("blue", "green", "yellow", "orange") %}
    <h2>{{{'blue': '蓝', 'green': '绿', 'yellow': '黄', 'orange': '橙'}[belt_color]}}段</h2>
    <p>
    {% if belt_color == "blue" %}
    是少数能在最困难的挑战中坚持不懈的人，在最黑暗的夜晚中前进。
    下面的黑客们是真正最坚韧的精神，经历无数看似不可能的挑战，证明自己有资格在云端佩戴蓝段。
    {% elif belt_color == "green" %}
    幼苗向着太阳生长：黑客走向光明。
    这些人展示了透过不确定性的迷雾看到彼岸清晰的独特能力。
    他们准备好踏上天空之旅。
    {% elif belt_color == "yellow" %}
    太阳升起，天空变亮。
    这些学生的思维正在开放，接受着很少有人意识到存在的惊人网络安全概念。
    随着阳光的到来，带来了成长的可能性和未来学习的承诺。
    {% elif belt_color == "orange" %}
    黎明就在地平线上。
    下面列出的名字不再属于不了解网络安全的人：相反，他们的主人现在意识到还有大片未探索的概念领域，准备好扩展他们的思维。
    {% endif %}
    </p>

    <ul>
      {% for user_id in belt_data.ranks[belt_color] %}
      {% set user = belt_data.users[user_id] %}
      <li>
        <a class="brand-mono" href="{{ url_for('pwncollege_users.view_other', user_id=user_id) }}">{{ user.handle }}</a>
        {% if user.name %}({{ user.name }}){% endif %}
        {% if user.emoji %}{{ user.emoji }}{% endif %}
        {% if user.site %}
        <a href="{{ user.site }}" target="_blank" style="color: inherit;" rel="noopener">
          <i class="fas fa-external-link-alt" data-toggle="tooltip" data-placement="top"
            title="{{ user.site }}">
          </i>
        </a>
        {% endif %}
        {% if user.mail %}
        <a href="mailto:{{ user.mail }}" style="color: inherit;" rel="noopener">
          <i class="fas fa-external-link-alt" data-toggle="tooltip" data-placement="top"
            title="{{ user.website }}">
          </i>
        </a>
        {% endif %}
        <em>(获得于 {{ user.date }})</em>
      </li>
      {% endfor %}
    </ul>
    <br>
  {% endfor %}

  <h2>如何进入上述名单</h2>
  你也可以被列入上面的传奇之中。
  通过完全完成相应的 <a href="{{url_for('pwncollege_dojos.listing')}}">pwn.college 竞技场</a>，你可以获得段位。
  这需要技能、智慧和毅力，但你可以做到。
  祝你好运。
</div>
{% endblock %}
