{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>用户设置</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 offset-md-1">
      <div class="nav flex-column nav-pills" role="tablist">
        <a class="nav-link active" id="settings-profile-tab" data-toggle="pill" href="#profile" role="tab">个人资料</a>
        <a class="nav-link" id="settings-ssh-key-tab" data-toggle="pill" href="#ssh-key" role="tab">SSH 密钥</a>
        {% if discord_enabled %}
        <a class="nav-link" id="settings-discord-tab" data-toggle="pill" href="#discord" role="tab">Discord</a>
        {% endif %}
	      <a class="nav-link" id="settings-tokens-tab" data-toggle="pill" href="#tokens" role="tab">访问令牌</a>
        <a class="nav-link" id="settings-reset-home-tab" data-toggle="pill" href="#reset-home" role="tab">重置主目录</a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="profile" role="tabpanel">
          {% include "components/errors.html" %}

          {% with form = Forms.self.SettingsForm(country=user.country) %}
          {% from "macros/forms.html" import render_extra_fields %}
          <form id="user-profile-form" method="post" accept-charset="utf-8" autocomplete="off" role="form"
                class="form-horizontal">
            <div class="form-group">
              <b>{{ form.name.label }}</b>
              {{ form.name(class="form-control", value=user.name) }}
            </div>
            <div class="form-group">
              <b>{{ form.email.label }}</b>
              {{ form.email(class="form-control", value=user.email) }}
            </div>

            <hr>

            <div class="form-group">
              <b>{{ form.confirm.label }}</b>
              {{ form.confirm(class="form-control") }}
            </div>
            <div class="form-group">
              <b>{{ form.password.label }}</b>
              {{ form.password(class="form-control") }}
            </div>

	    {{ render_extra_fields(form.extra) }}

            <div id="results" class="form-group">
            </div>

            <div class="form-group">
              {{ form.submit(class="btn btn-md btn-primary float-right") }}
            </div>
          </form>
          {% endwith %}
        </div>

        <div class="tab-pane fade" id="ssh-key" role="tabpanel">

          {% if ssh_keys %}
            <b><label for="enter-name">Current SSH Keys</label></b>
            <br>

            {% for key in ssh_keys %}
            <form method="post" id="delete-ssh-key-{{ loop.index }}-form" autocomplete="off">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="ssh-key" name="ssh_key" type="text" value="{{ key }}" readonly>
                        <div class="input-group-append ml-1" style="margin: -0.1rem">
                            <button type="submit" class="btn btn-danger" id="delete-ssh-key-button-{{ loop.index }}">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div id="delete-ssh-key-{{ loop.index }}-results" class="form-group">
                </div>
            </form>

            <script>
              document.addEventListener('DOMContentLoaded', function() {
                form_fetch_and_show("delete-ssh-key-{{ loop.index }}", "/pwncollege_api/v1/ssh_key", "DELETE", "Your public key has been deleted");
              });
            </script>
            {% endfor %}
            <br>
          {% endif %}

          <form method="post" id="ssh-key-form" autocomplete="off">
            <div class="form-group">
              <b><label for="enter-name">Add New SSH Key</label></b>
              <small class="form-text text-muted">Required for accessing challenges over SSH</small>
              <br>
              <input class="form-control" id="ssh-key" name="ssh_key" type="text" value="">
            </div>

            <div id="ssh-key-results" class="form-group">
            </div>

            <div class="form-group text-right">
              <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="添加">
            </div>
          </form><b><label for="ssh-key-create">如何创建 SSH 密钥</label></b>
          <p id="ssh-key-create">你可以在你的（Unix 友好的）主机上的终端中运行 <code>ssh-keygen -f key -N ''</code> 来快速生成 ssh 密钥。
          这将生成文件 <code>key</code> 和 <code>key.pub</code>，分别是你的私钥和公钥。
          一旦你将 <em>公</em> ssh 密钥链接到你的账户，你就可以使用 <code>ssh -i key hacker@pwn.college</code> 通过 ssh 连接到竞技场。</p>
        </div>

        {% if discord_enabled %}
        <div class="tab-pane fade" id="discord" role="tabpanel">
          <div class="text-center">
            <img src="{{ discord_avatar_asset(discord_member) }}" class="discord-avatar">
            {% if discord_member %}
              <h2>{{ discord_member["user"]["username"] }}</h2>
              <br>
              <form method="post" id="discord-form" autocomplete="off">
                <div class="form-group">
                  <input type="submit" class="btn btn-danger" value="断开 Discord 账户">
                </div>
                <div id="discord-results" class="form-group">
                </div>
              </form>
            {% else %}
              <br>
              <a href="/discord/connect" class="btn btn-primary">连接 Discord 账户</a>
            {% endif %}
          </div>
        </div>
        {% endif %}

        <div class="tab-pane fade" id="tokens" role="tabpanel">
          {% with form = Forms.self.TokensForm() %}
          <form method="POST" id="user-token-form">
            <div class="form-group">
              <b>{{ form.expiration.label }}</b>
              {{ form.expiration(class="form-control") }}
            </div>

            <div class="form-group text-right">
              {{ form.submit(class="btn btn-md btn-primary btn-outlined") }}
            </div>
          </form>
          {% endwith %}

          {% if tokens %}
          <hr>
          <h4 class="text-center">活跃令牌</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <td class="text-center"><b>创建时间</b></td>
                <td class="text-center"><b>过期时间</b></td>
                <td class="text-center"><b>删除</b></td>
              </tr>
            </thead>
            <tbody>
              {% for token in tokens %}
              <tr>
                <td><span data-time="{{ token.created | isoformat }}"></span></td>
                <td><span data-time="{{ token.expiration | isoformat }}"></span></td>
                <td class="text-center">
                  <span class="delete-token" role="button" data-token-id="{{ token.id }}">
                    <i class="btn-fa fas fa-times"></i>
                  </span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>

        <div class="tab-pane fade" id="reset-home" role="tabpanel">
          <div class="text-center">
            <h2>重置主目录</h2>
            <p>点击下面的按钮重置你的主目录。这将打包你当前的主目录并清除其他所有内容。</p>
            <button id="reset-home-button" class="btn btn-danger">重置主目录</button>
          </div>
          <br>
          <div id="reset-home-results" class="form-group"></div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block entrypoint %}
<script defer src="{{ url_for('views.themes', path='js/pages/settings.js') }}"></script>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/settings.js') }}"></script>
{% endblock %}
